.flex {
  display: flex;
  justify-content: space-evenly;
}

/* Завдання 1. Для першого блоку: задай кожному парному елементу списку рожевий колір */
.task_1>ul>li:nth-child(even) {
  color: red;
}

/* Завдання 2. Для другого блоку: задай кожному не парному елементу списку розмір 22px */
.task_2>ul>li:nth-child(odd) {
  font-size: 22px;
}

/* Завдання 3. Для третього блоку: задай кожному 2-му елементу, починаючи з 4-го елемента - псевдоелемент :after та додай "!" до кожного з зазначених пунктів */
.task_3>ul>li:nth-child(2n+4)::after {
  content: "!";
}

/* Завдання 4. Для четвертого блоку: Задай фіолетовий колір для останнього елемента списку */
.task_4>ul>li:last-child {
  color: violet;
}

/* Завдання 5. Для п'ятого блоку: Задай розмір 30px для перших літер списку, а також зміни колір на червоний */
.task_5>ul>li:first-letter {
  font-size: 30px;
  color: red;
}
